<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing-ejs</title>
</head>
<body>
    <h2>Welcome to our video chat app</h2>
    <form action='/existingRoom' method='post'>
        <input type='text' placeholder="enter custom link" name='customLink' />
        <input type='submit'/>
    </form>

    <p>Video chat new room</p>
    <form action='/newRoom' method='post'>
        <input type='submit'/>
    </form>
</body>
</html>